.kotak-1{
    background: red;
    color: white;
    height: 100px;
}
.kotak-2{
    background: yellow;
    height: 100px;
}
.kotak-3{
    background: green;
    color: aqua;
    height: 100px; 
}
